.homeDiv{
  width: 90vw;
  height: auto;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.hrLineStyle{
  width: 100%;
  color: black;
  background-color: black;
  height: 2px;
}